html, body{
    margin: 0px;
    padding: 0px;
}
li{
    display: inline;

    
}
ul {
    overflow: hidden;
}
li a {
    display: inline;
    padding: 5px;
    background-color: rgb(95, 90, 90);
    text-decoration: none;
    color: rgb(252, 246, 249);
    /* float: right; */

}